In [15]:
                                                         #SOLUTION 1: 
#printing "Aviral" 10 Times
name="Aviral"
for i in range(10):
    print(name)  #Here we know the number of itteration that's why we use FOR LOOP    
# print the user given name  if its name contain alphabet then exit otherwise continue
while True:
    name=input("enter the name")
    if name.isalpha():
        print("name=",name)
        break
    else: 
        print("name can not be integer")
        continue  # here we know the Termination condition that's why we use WHILE LOOP

Aviral
Aviral
Aviral
Aviral
Aviral
Aviral
Aviral
Aviral
Aviral
Aviral

enter the name avi123

name can not be integer

enter the name aviral

name= aviral

In [9]:
                                                        #SOLUTION 2:
# sum and product of first 10 Natural Number
sum=0
prd=1
for i in range(1,11): 
     sum=sum+i
     prd=prd*i
print("sum is=",sum,",","product is=",prd)

sum is= 55 , product is= 3628800

In [5]:
                                                       #SOLUTION 3:
n=int(input("enter the Number of unit"))

if n <=100:
    print("charges is=",n*4.5)
elif n>100 and n<=200: 
    print("charges is=",450+(n-100)*6)
elif n >200 and n<=300: 
    print("charges is=",1050+(n-200)*10)
else: 
    print("charges is=",2050+(n-300)*20)

enter the Number of unit 310

charges is= 2250

In [11]:
                                                    #SOLUTION 4:
#Using for loop 

l=[]
for i in range(1,101):
    j=i*i*i
    if j%4==0 or j%5==0:
        l.append(i)
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [12]:
                                                   #SOLUTION 4:
#Using While Loop
l=[]
i=1
while i<=100:
    j=i*i*i
    if j%4==0 or j%5==0:
       l.append(i)
    i=i+1
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [13]:
                                                   #SOLUTION 5:
#counting number of vowels vowels
string="I want to become a data scientist"
str_lwr=string.lower()
vowel="aeiou"
count=0
for i in st:
    if i in vowel:
        count=count+1
print(count)

12